# Настройки Django
SECRET_KEY=your-secret-key
DEBUG=True

# Разрешенные домены
# Для локальной разработки и тестов на сервере поставьте '*'
# Для финального продакшена введите свой домен (например: myshop.ru)
ALLOWED_HOSTS=*

# Переключатель базы данных
# Для локальной разработки на Windows/Mac введите 'sqlite'
# Для запуска в Docker введите 'postgres'
DB_ENGINE=sqlite

# Настройки PostgreSQL, если DB_ENGINE=postgres
DB_NAME=shop_db
DB_USER=postgres
DB_PASSWORD=postgres

# Для локальной разработки DB_HOST=localhost
# Для запуска в Docker - DB_HOST=db
DB_HOST=db

DB_PORT=5432

# Настройки кэша (Redis)
CACHE_URL=redis://redis:6379/1